{{!-- Shows Random Quotes --}}
<div class="d-flex justify-content-between">
  <div class="mt-3">
    <div class="px-2">
      <h4>Quote of the Day... </h4>
      <p class="border border-dark rounded">{{randomQuote.quote}}</p>
    </div>

    {{!-- Create a post --}}
    <form class="text-center">
      <div class="form-group">
        <label for="new-post"></label>
        <textarea id="new-post" placeholder="How are you feeling?" class="form-control text-center" rows="5" name="userPost"></textarea>
        <button type="submit" id="new-post-btn" class="btn btn-dark mt-3">Post</button>
      </div>
    </form>
  </div>

  {{!-- Shows each posts on homepage --}}
  <div class="col" class="homepagePosts" style="height: 50em; overflow-y: scroll;">
    {{#each posts as |post|}}    
      <div class="container-fluid mt-2 mb-2">
        <div class="row">
          <div class="col-12">
            <div class="card text-center bg-primary text-light">
              <h6 class="card-text">Posted by {{User.username}}<br> on {{format_date createdAt}} at {{format_time createdAt}}</h6>
              <div class="card-body bg-dark text-light">
                <p class="card-text">{{content}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  {{!-- Shows recent friends list --}}
  <div class="p-2 mt-3">
    <h4>Recent Friends</h4>
    <ul class="list-unstyled">
      <li class="list-item">{{username}}</li>
      <li class="list-item">{{username}}</li>
      <li class="list-item">{{username}}</li>
      <li class="list-item">{{username}}</li>
      <li class="list-item">{{username}}</li>
      <li class="list-item">{{username}}</li>
      <li class="list-item">{{username}}</li>   
      <li class="list-item">{{username}}</li>
    </ul>
  </div>
</div>


<script src="/js/createPost.js"></script>